<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h2><strong>Follow Users</strong></h2>
    </div>
  </div>

  <div class="col-md-12 d-flex justify-content-center mr-5">
    <table class="table table-borderless">
      <% @users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <%= link_to(user) do %>
                <%= image_tag user.get_profile_image, size: '50x50' %>
              <% end %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.introduction %>
            </td>
            <!--<td id="public_users_relationship_<%#= user.id %>">-->
            <!--  <%# if current_user != user %>-->
            <!--    <%#= render "public/users/relationship", user: user %>-->
            <!--  <%# end %>-->
            <!--</td>-->
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  
  <div class="row">
    <div class="actions col-lg-7 offset-lg-5 mt-3">
      <%= link_to "Back", users_path, class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </div>
</div>