<h1 class="text-center mt-4">Editing Genres</h1>

<div class="row justify-content-center mt-4">
  <div class="col-md-6">
    <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, class: 'form-group' do |f| %>
      <%= f.label :name, "genre name", class: 'form-label' %>
      <div class="input-group mb-3">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Please input genre name. ' %>
        <div class="input-group-append">
          <%= f.submit "save changes", class: 'btn btn-outline-success btn-sm' %>
          <%= link_to "Destroy", admin_genre_path(@genre.id), method: :delete, data: { confirm: 'Are you sure really?' }, class: "btn btn-outline-danger btn-sm" %>
          <%= link_to "Back", admin_genres_path , class: "btn btn-outline-secondary btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
