<div class="container mt-5">
  <div class="col-md-12 mx-auto mb-3">
    <div class="row col-lg-8 justify-content-left mb-4">
      <h2><strong>Records List</strong></h2>
    </div>
    <% @tag_list.each do |list| %>
      <i class="fa-sharp fa-solid fa-tag"></i>
      <%= link_to list.tag_name,search_tag_path(record_tag_id: list.id), class: "text-dark" %>
      <%= "(#{list.health_records.count})" %>
    <% end %>
  </div>

  <table class="table table-borderless mt-4">
    <thead>
      <tr>
        <th></th>
        <th>Posted User</th>
        <th>Body Parts</th>
        <th>Exercises</th>
        <th>Posted Time</th>
        <th></th>
        <th></th>
        <th class="text-right">
          Comments
        </th>
      </tr>
    </thead>
    <tbody>
      <% @health_records.each do |health_record| %>
        <tr>
          <td>
            <%= link_to(health_record.user) do %>
              <%= image_tag health_record.user.get_profile_image, size:'30x30' %>
            <% end %>
          </td>
          <td>
            <%= health_record.user.name %>
          </td>
          <td>
            <%= health_record.genre.name %>
          </td>
          <td>
            <%= health_record.exercise %>
          </td>
          <td>
            <i class="far fa-clock"></i><%= health_record.created_at.strftime("%Y.%m.%d %H:%M") %>
          </td>
          <td>
            <% if health_record.user_id == current_user.id %>
              <%= link_to "Detail", health_record_path(health_record.id), class: "btn btn-outline-warning btn-sm mr-3" %>
            <% else %>
              <%= link_to "Detail", health_record_path(health_record.id), class: "btn btn-outline-info btn-sm mr-3" %>
            <% end %>
            <% if health_record.user_id == current_user.id %>
              <%= link_to "Destroy", health_record, method: :delete,
                data: { confirm: 'Are you sure really?' },
                class: "btn btn-outline-danger btn-sm mr-3" %>
            <% end %>
          </td>
          <td id="favorite_btn_<%= health_record.id %>">
            <%= render "public/favorites/btn", health_record: health_record %>
          </td>
          <td class="text-center">
            <%= health_record.health_record_comments.count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center mt-5">
  <%= paginate @health_records, theme: 'twitter-bootstrap-4' %>
</div>