<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h2><strong>Records List</strong></h2>
    </div>
  </div>

  <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Image</th>
          <th>User Name</th>
          <th>Body Parts</th>
          <th>Exercises</th>
          <th>Date and Time</th>
          <th></th>
          <th></th>
          <th class="text-right">
            Comments
          </th>
        </tr>
      </thead>
      <tbody>
        <% @health_records.each do |health_record| %>
          <tr>
            <td>
              <%= link_to(health_record.user) do %>
                <%= image_tag health_record.user.get_profile_image, size:'30x30' %>
              <% end %>
            </td>
            <td>
              <%= health_record.user.name %>
            </td>
            <td>
              <%= health_record.part %>
            </td>
            <td>
              <%= health_record.exercise %>
            </td>
            <td></td>
            <td>
              <%= link_to "Detail", health_record_path(health_record.id), class: "btn btn-info btn-sm mr-3" %>
              <% if health_record.user == current_user %>
                <%= link_to "Destroy", health_record, method: :delete,
                  data: { confirm: 'Are you sure really?' },
                  class: "btn btn-danger btn-sm mr-3" %>
              <% end %>
            </td>
            <td id="favorite_btn_<%= health_record.id %>">
              <%= render "public/favorites/btn", health_record: health_record %>
            </td>
            <td class="text-center">
              <%= health_record.health_record_comments.count %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>