<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h2><strong>New Post</strong></h2>
    </div>
  </div>
  <%= form_with model: @health_record, url: health_records_path, method: :post do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><strong>Body Parts</strong></td>
          <td><%= f.collection_select :genre_id, Genre.all, :id, :name, {}, {class: 'form-control'} %></td>
        </tr>
        <tr>
          <td>
            <strong>Exercise</strong><br>
            <strong>(exercise name?)</strong>
          </td>
          <td><%= f.text_field :exercise, class: "form-control" %></td>
        </tr>
        <tr>
          <td>
            <strong>Training Contents</strong><br>
            <strong>(weight?, count?, set?)</strong>
          </td>
          <td><%= f.text_field :training_content, class: "form-control" %></td>
        </tr>
        <tr>
          <td>
            <strong>Diet Contents</strong><br>
            <strong>(What else did you eat today?)</strong>
          </td>
          <td><%= f.text_area :diet_content, class: "form-control", rows: "5" %></td>
        </tr>
        <tr>
          <td><strong>Today's impressions</strong></td>
          <td><%= f.text_area :today_impression, class: "form-control", rows: "5" %></td>
        </tr>
        <tr>
          <td><strong>Tags</strong></td>
          <td>
            <label>" , " で区切ると複数タグ登録できます</label>
            <%= f.text_field :tag_name, value: @tag_list, class: 'form-control' %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mb-3">
      <%= f.submit "Post", class: "btn btn-outline-success btn-md" %>
    </div>
  <% end %>
</div>