<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h2><strong>Record Details</strong></h2>
    </div>
  </div>

  <div class="col-md-12 d-flex justify-content-center mr-5">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><strong>Body Parts</strong></td>
          <td><%= @health_record.part %></td>
        </tr>
        <tr>
          <td><strong>Exercises</strong></td>
          <td><%= @health_record.exercise %></td>
        </tr>
        <tr>
          <td><strong>Training Contents</strong></td>
          <td><%= @health_record.training_content %></td>
        </tr>
        <tr>
          <td><strong>Diet Contents</strong></td>
          <td><%= @health_record.diet_content %></td>
        </tr>
        <tr>
          <td><strong>Today's impressions</strong></td>
          <td><%= @health_record.today_impression %></td>
        </tr>
        <tr>
          <td></td>
          <!--<td id="favorite_btn_<%#= @health_record.id %>">-->
            <%#= render "favorites/btn", health_record: @health_record %>
          <!--</td>-->
        </tr>
        <tr>
          <td>
            コメント数： <%= @health_record.health_record_comments.count %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-3 text-center">
    <% if @health_record.user == current_user %>
      <%= link_to "Edit", edit_health_record_path(@health_record.id), class: "btn btn-success btn-sm mr-3" %>
      <%= link_to "Destroy", @health_record, method: :delete, 
        data: { confirm: 'Are you sure really?' }, 
        class: "btn btn-danger btn-sm mr-3" %>
    <% end %>    
    <%= link_to "Back", health_records_path, class: "btn btn-secondary btn-sm mr-3" %>
  </div>
  <!--<%#= render "health_record_comments/index", health_record: @health_record %>-->
  <!--<%#= render "health_record_comments/form", health_record: @health_record, health_record_comment: @health_record_comment %>-->
     
</div>