<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h1><strong>All Users</strong></h1>
    </div>
  </div>

  <div class="col-md-12">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th></th>
          <th>User Name</th>
          <th>Introduction</th>
          <th>Joined Day</th>
          <th>User Status</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image, size: "30x30" %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.introduction %>
            </td>
            <td>
              <%= user.created_at.strftime("%Y.%m.%d") %>
            </td>
            <td>
              <% if user.is_active == true %>
                <strong class="text-success">
                  <%= user.user_status %>
                </strong>
              <% else %>
                <strong class="text-danger">
                  <%= user.user_status %>
                </strong>
              <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_admin_user_path(user.id), class: "btn btn-success btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</div>