<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h2><strong>Editing User Details</strong></h2>
    </div>
  </div>
  <%= form_with model: @user, url: user_path, method: :patch do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><strong>Image</strong></td>
          <td>
            <%# if @user.profile_image.attached? %>
              <%# if @user.profile_image.blob.content_type.start_with? 'image/' %>
                <%#= image_tag(@user.image.variant(resize_to_limit: [200, 200])) %>
              <%# end %>
            <%# end %>
            <%= f.file_field :profile_image, class: "form-control-file user_image", accept: "image/*" %>
            
            <%#= f.file_field :profile_image, class: "form-control-file user_image", accept: "image/" %>
          </td>
        </tr>
        <tr>
          <td><strong>User Name</strong></td>
          <td>
            <%= f.text_field :name, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td><strong>Introduction</strong></td>
          <td><%= f.text_area :introduction, class: "form-control", rows: "5" %></td>
        </tr>
        <tr>
          <td><strong>Target</strong></td>
          <td><%= f.text_area :target, class: "form-control", rows: "5" %></td>
        </tr>
      </tbody>
    </table>
    <div class="mt-3 text-center">
      <% if @user == current_user %>
        <%= f.submit "Save Changes", class: "btn btn-warning btn-sm mr-3" %>
      <% end %>
      <%= link_to "Back", user_path(@user.id), class: "btn btn-secondary btn-sm mr-3" %>
    </div>
  <% end %>
</div>