<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h2><strong>Users List</strong></h2>
    </div>
  </div>

  <table class="table table-borderless mt-4">
    <thead>
      <tr>
        <th></th>
        <th>User Name</th>
        <th>Introduction</th>
        <th>Follows</th>
        <th>Followers</th>
        <th>Joined Day</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.get_profile_image, size: "30x30" %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.introduction %>
          </td>
          <td>
            <%= link_to user.followings.count, user_followings_path(user), class: "text-dark" %>
          </td>
          <td>
            <%= link_to user.followers.count, user_followers_path(user), class: "text-dark" %>
          </td>
          <td>
            <i class="far fa-clock"></i><%= user.created_at.strftime("%a %Y.%m.%d %H:%M") %>
          </td>
          <td>
            <% if user.id == current_user.id %>
              <%= link_to "My page", user_path(user.id), class: "btn btn-outline-danger btn-sm" %>
            <% else %>
              <p></p>
            <% end %>
          </td>
          <td>
            <% if user.id == current_user.id %>
              <p></p>
            <% else %>
              <%= link_to "Detail", user_path(user.id), class: "btn btn-outline-info btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center mt-5">
  <%= paginate @users, theme: 'twitter-bootstrap-4'  %>
</div>