<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="/">WellnessJourney</a>
  <% if admin_signed_in? %>
    <p></p>
  <% elsif user_signed_in? %>
    <p class="text-light mt-3 ml-auto">ようこそ、<%= current_user.name %>さん！</p>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <% if admin_signed_in? %>
      <li class="nav-item active">
        <%= link_to admin_health_record_health_record_comments_path, class: 'nav-link text-dark' do %>
          Comments
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
          Users
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, class: 'nav-link text-dark' do %>
          Log out
        <% end %>
      </li>
    <% elsif user_signed_in? %>
      <li class="nav-item">
        <%= link_to user_path(current_user), class: 'nav-link text-dark' do %>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_path, class: 'nav-link text-dark' do %>
          Users
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to health_records_path, class: 'nav-link text-dark' do %>
          Records
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do  %>
          Log out
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to root_path, class: 'nav-link text-dark' do %>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to about_path, class: 'nav-link text-dark' do %>
          About
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
          Sign up
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
          Log in
        <% end %>
      </li>
    <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>