<!DOCTYPE html>
<html>
  <head>
    <title>WellnessJourney</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c6847128c5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="fontfamily: cursive;">
    <div class="footer_adjustments">
      <header>
        <%= render "layouts/header" %>
      </header>
      <main>
        <div class="text-center mt-2">
          <% flash.each do |message_type, message| %>
            <div class="flash-message <%= message_type %>"><%= message %></div>
          <% end %>
        </div>
        <%= yield %>
      </main>
      <footer>
        <%= render "layouts/footer" %>
      </footer>
    </div>
  </body>
</html>
